importing the libraries

In [2]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [16]:
df =credit_data= pd.read_csv('/content/creditcard.csv')

In [17]:
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [18]:
credit_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
200121,133294.0,1.375476,-2.786363,-1.695100,-1.028698,-1.678077,-1.079367,-0.098118,-0.486423,-1.367397,...,-0.103864,-0.891799,-0.111621,0.018289,-0.382058,-0.378898,-0.100937,0.028172,500.00,0.0
200122,133294.0,0.031606,0.773669,0.105631,-0.808392,0.661654,-0.533962,0.881970,-0.011293,-0.220876,...,-0.242999,-0.574380,0.006483,-0.509041,-0.466568,0.151427,0.239923,0.081814,4.86,0.0
200123,133294.0,2.165230,0.086752,-2.637062,0.002226,0.836449,-1.508721,0.910290,-0.545427,0.281584,...,0.256355,0.869628,-0.165058,0.774845,0.745217,0.432576,-0.115054,-0.086475,4.72,0.0
200124,133295.0,2.019314,-1.317748,-0.055056,-0.954619,-1.372413,0.226414,-1.570607,0.288708,0.251998,...,0.327501,0.840711,0.274308,0.700951,-0.512369,-0.283217,0.024523,-0.033014,44.80,0.0
200125,133295.0,1.963235,-0.526202,-0.312086,0.319440,-0.680923,-0.105586,-0.773203,0.118093,1.059372,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200126 entries, 0 to 200125
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    200126 non-null  float64
 1   V1      200126 non-null  float64
 2   V2      200126 non-null  float64
 3   V3      200126 non-null  float64
 4   V4      200126 non-null  float64
 5   V5      200126 non-null  float64
 6   V6      200126 non-null  float64
 7   V7      200126 non-null  float64
 8   V8      200126 non-null  float64
 9   V9      200126 non-null  float64
 10  V10     200126 non-null  float64
 11  V11     200126 non-null  float64
 12  V12     200126 non-null  float64
 13  V13     200126 non-null  float64
 14  V14     200126 non-null  float64
 15  V15     200126 non-null  float64
 16  V16     200126 non-null  float64
 17  V17     200126 non-null  float64
 18  V18     200125 non-null  float64
 19  V19     200125 non-null  float64
 20  V20     200125 non-null  float64
 21  V21     200125 non-null  float64
 22  V22     200125 non-null  float64
 23  V23     200125 non-null  float64
 24  V24     200125 non-null  float64
 25  V25     200125 non-null  float64
 26  V26     200125 non-null  float64
 27  V27     200125 non-null  float64
 28  V28     200125 non-null  float64
 29  Amount  200125 non-null  float64
 30  Class   200125 non-null  float64
dtypes: float64(31)
memory usage: 47.3 MB

In [30]:
#used to check number of missing values in each column 
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [33]:
credit_data['Class'].value_counts()

0.0    199740
1.0       385
Name: Class, dtype: int64

the data is is extremely unbalanced 
0 represents normal transactions
1 represents fraudulant transactions

In [34]:
lawful = credit_data[credit_data.Class == 0]
unlawful = credit_data[credit_data.Class == 1]

In [35]:
print(lawful.shape)
print(unlawful.shape)

(199740, 31)
(385, 31)

In [36]:
#stats meseaure
lawful.Amount.describe()

count    199740.000000
mean         89.699438
std         248.677000
min           0.000000
25%           5.990000
50%          23.000000
75%          79.200000
max       19656.530000
Name: Amount, dtype: float64

In [37]:
unlawful.Amount.describe()

count     385.000000
mean      121.808805
std       256.061414
min         0.000000
25%         1.000000
50%        12.310000
75%       104.810000
max      2125.870000
Name: Amount, dtype: float64

In [38]:
#comparing the values of the lawful and unlawful transactions
credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,70700.829874,-0.093595,-0.005006,0.332133,0.065289,-0.102740,0.048376,-0.037393,0.015301,0.014196,...,0.018590,-0.016177,-0.047228,-0.015312,0.004212,0.060233,0.005997,0.001304,0.001710,89.699438
1.0,61286.968831,-5.697855,4.197893,-7.727879,4.758152,-4.090343,-1.409713,-6.624255,0.684653,-2.761479,...,0.390145,0.791049,-0.022175,-0.054605,-0.070451,0.070767,0.036967,0.177042,0.057351,121.808805

Building a sample dataset containing similar distribution of lawful and unlawful transactions

number of unlawful transactions == 385

In [39]:
lawful_sample = lawful.sample(n=385)

linking 2 data frames

In [41]:
new_dataset = pd.concat([lawful_sample,unlawful],axis=0 )

In [42]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
68883,53178.0,1.500616,-1.062914,0.285956,-1.520824,-1.368468,-0.495812,-1.067529,-0.037963,-1.971581,...,-0.195357,-0.241042,-0.017473,-0.083184,0.384264,-0.198149,0.020681,0.005722,15.00,0.0
132335,79947.0,1.092385,-0.431521,0.858628,0.640733,-1.017354,-0.346653,-0.392940,-0.070239,-1.091643,...,-0.446136,-0.934973,0.182882,0.334767,0.066357,-0.607020,0.069059,0.055728,88.00,0.0
131751,79722.0,1.392429,-0.296258,0.203437,-0.524339,-0.982374,-1.197819,-0.535175,-0.164791,-0.711480,...,-0.154216,-0.588287,0.123283,0.269516,0.212493,-0.477757,0.017577,0.042793,12.00,0.0
42931,41303.0,0.372778,0.932087,-1.962100,-0.600777,2.509379,3.390555,-1.171396,-1.892775,-0.723978,...,-1.445596,-0.282374,-0.030501,0.898154,0.896511,0.371248,-0.023159,0.154976,0.76,0.0
123830,77081.0,1.180438,0.141467,-0.005287,0.898183,-0.241849,-0.303101,-0.236939,0.111121,0.461574,...,-0.158783,-0.285301,-0.139075,-0.064759,0.536893,0.416220,-0.007647,0.028077,12.31,0.0

In [43]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
192687,129808.0,1.522080,-0.519429,-2.581685,0.774741,0.206722,-1.431020,0.757011,-0.444418,0.997921,...,0.019649,-0.211678,-0.247452,-0.279472,0.239646,-0.508398,-0.015551,0.041881,276.17,1.0
195383,131024.0,0.469750,-1.237555,-1.767341,4.833490,-0.268715,-0.512760,1.140149,-0.341273,-1.046351,...,0.303905,-0.647075,-0.373014,0.260801,-0.496566,-0.245973,-0.117858,0.144774,723.21,1.0
197586,132086.0,-0.361428,1.133472,-2.971360,-0.283073,0.371452,-0.574680,4.031513,-0.934398,-0.768255,...,0.110815,0.563861,-0.408436,-0.880079,1.408392,-0.137402,-0.001250,-0.182751,480.72,1.0
198868,132688.0,0.432554,1.861373,-4.310353,2.448080,4.574094,-2.979912,-2.792379,-2.719867,-0.276704,...,-1.384477,-0.348904,-3.979948,-0.828156,-2.419446,-0.767070,0.387039,0.319402,1.00,1.0
199896,133184.0,-1.212682,-2.484824,-6.397186,3.670562,-0.863375,-1.855855,1.017732,-0.544704,-1.703378,...,1.396872,0.092073,-1.492882,-0.204227,0.532511,-0.293871,0.212663,0.431095,1335.00,1.0

In [45]:
new_dataset['Class'].value_counts()

0.0    385
1.0    385
Name: Class, dtype: int64

In [46]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,69871.974026,-0.048135,-0.113178,0.297916,0.059393,-0.057218,0.034495,-0.037698,-0.025368,0.029135,...,0.002650,-0.042299,-0.093410,-0.022389,0.035960,0.043202,-0.022119,0.002361,-0.022381,96.598519
1.0,61286.968831,-5.697855,4.197893,-7.727879,4.758152,-4.090343,-1.409713,-6.624255,0.684653,-2.761479,...,0.390145,0.791049,-0.022175,-0.054605,-0.070451,0.070767,0.036967,0.177042,0.057351,121.808805

spilting the data into features and targets here

In [47]:
x = new_dataset.drop(columns='Class', axis = 1)
y = new_dataset['Class']

In [48]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
68883    53178.0  1.500616 -1.062914  0.285956 -1.520824 -1.368468 -0.495812
132335   79947.0  1.092385 -0.431521  0.858628  0.640733 -1.017354 -0.346653
131751   79722.0  1.392429 -0.296258  0.203437 -0.524339 -0.982374 -1.197819
42931    41303.0  0.372778  0.932087 -1.962100 -0.600777  2.509379  3.390555
123830   77081.0  1.180438  0.141467 -0.005287  0.898183 -0.241849 -0.303101
...          ...       ...       ...       ...       ...       ...       ...
192687  129808.0  1.522080 -0.519429 -2.581685  0.774741  0.206722 -1.431020
195383  131024.0  0.469750 -1.237555 -1.767341  4.833490 -0.268715 -0.512760
197586  132086.0 -0.361428  1.133472 -2.971360 -0.283073  0.371452 -0.574680
198868  132688.0  0.432554  1.861373 -4.310353  2.448080  4.574094 -2.979912
199896  133184.0 -1.212682 -2.484824 -6.397186  3.670562 -0.863375 -1.855855

              V7        V8        V9  ...       V20       V21       V22  \
68883  -1.067529 -0.037963 -1.971581  ... -0.347582 -0.195357 -0.241042
132335 -0.392940 -0.070239 -1.091643  ... -0.355654 -0.446136 -0.934973
131751 -0.535175 -0.164791 -0.711480  ...  0.064615 -0.154216 -0.588287
42931  -1.171396 -1.892775 -0.723978  ...  0.693026 -1.445596 -0.282374
123830 -0.236939  0.111121  0.461574  ... -0.098316 -0.158783 -0.285301
...          ...       ...       ...  ...       ...       ...       ...
192687  0.757011 -0.444418  0.997921  ...  0.361169  0.019649 -0.211678
195383  1.140149 -0.341273 -1.046351  ...  1.277315  0.303905 -0.647075
197586  4.031513 -0.934398 -0.768255  ... -0.025862  0.110815  0.563861
198868 -2.792379 -2.719867 -0.276704  ...  0.318853 -1.384477 -0.348904
199896  1.017732 -0.544704 -1.703378  ...  2.908374  1.396872  0.092073

             V23       V24       V25       V26       V27       V28   Amount
68883  -0.017473 -0.083184  0.384264 -0.198149  0.020681  0.005722    15.00
132335  0.182882  0.334767  0.066357 -0.607020  0.069059  0.055728    88.00
131751  0.123283  0.269516  0.212493 -0.477757  0.017577  0.042793    12.00
42931  -0.030501  0.898154  0.896511  0.371248 -0.023159  0.154976     0.76
123830 -0.139075 -0.064759  0.536893  0.416220 -0.007647  0.028077    12.31
...          ...       ...       ...       ...       ...       ...      ...
192687 -0.247452 -0.279472  0.239646 -0.508398 -0.015551  0.041881   276.17
195383 -0.373014  0.260801 -0.496566 -0.245973 -0.117858  0.144774   723.21
197586 -0.408436 -0.880079  1.408392 -0.137402 -0.001250 -0.182751   480.72
198868 -3.979948 -0.828156 -2.419446 -0.767070  0.387039  0.319402     1.00
199896 -1.492882 -0.204227  0.532511 -0.293871  0.212663  0.431095  1335.00

[770 rows x 30 columns]

In [49]:
print(y)

68883     0.0
132335    0.0
131751    0.0
42931     0.0
123830    0.0
         ...
192687    1.0
195383    1.0
197586    1.0
198868    1.0
199896    1.0
Name: Class, Length: 770, dtype: float64

spilting the data into train and test

In [50]:
x_train ,x_test,y_train,y_test= train_test_split(x , y, test_size=0.2, stratify=y, random_state=2)

In [51]:
print(x.shape, x_train.shape, x_test.shape)

(770, 30) (616, 30) (154, 30)

training the model using logistic regression

In [52]:
Model =LogisticRegression()

In [53]:
Model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [56]:
#finding out the accuracy on trainning data 
x_train_pred = Model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_pred,y_train)

In [58]:
print('accuracy on trainning data is :',training_data_accuracy )

accuracy on trainning data is : 0.948051948051948

In [60]:
#now on test data 
x_test_pred = Model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_pred, y_test)

In [61]:
print('accuracy on trainning data is :',test_data_accuracy )

accuracy on trainning data is : 0.922077922077922